.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 5%;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  padding: 2% 8%;
  max-width: 675px;
}

ol li {
  padding: 1% 1%;
  list-style: decimal;
}

h1 {
  font-size: 2rem;
}
.card ol li p {
  margin-bottom: 1.5%;
}
a.not-tag {
  color: hsl(19, 100%, 55%);
  display: inline;
}
