<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Omar Shemy | Admin</title>

    <!-- favicon -->

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.png') }}"/>

    <!-- google font -->

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin=""/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap"
    />

    <!-- custom css -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/require.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/admin.css') }}"/>

</head>
<body>
<div class="preloader" data-preloader>
    <div class="preloader-circle"></div>
</div>

{{ get_header('Admin') | safe }}

<main>
    <article>
        <section class="section has-before" aria-label="home">
            <div class="admin-container">
                {% if current_user.is_authenticated %}
                <h1>Omar Shemy Signed In</h1>
                <div class="button-container">
                    <div>
                        <button class="btn btn-tertiary"><a href="{{ url_for('auth.auth') }}">Auth</a>
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-tertiary"><a href="{{ url_for('users.view_users') }}">Users</a></button>
                    </div>
                    <div>
                        <button class="btn btn-tertiary"><a href="{{ url_for('slides.view_directory') }}">Media</a>
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-tertiary"><a href="{{ url_for('slides.input_slides') }}">Slides</a>
                        </button>
                    </div>
                </div>

                {% else %}
                <div class="container">
                    <h1>Login</h1>
                    <button class="btn btn-primary"><a href="{{ url_for('auth.auth') }}">Login</a></button>
                </div>
                {% endif %}
                <div class="container">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert {% if category == 'error' %} alert-danger {% elif category == 'success' %} alert-success {% endif %}"
                         role="alert">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </section>
    </article>
</main>
<!-- Footer -->

{{ render_footer() | safe }}

<!-- custom js -->
<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>