<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Omar Shemy | Input Slides</title>

    <!-- favicon -->

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.png') }}"/>

    <!-- google font -->

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin=""/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap"
    />

    <!-- custom css -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/require.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/login.css') }}"/>

    <!-- custom js -->
    <script src="{{url_for('static', filename='js/scripts-input.js')}}"></script>
</head>
<body>
<div class="preloader" data-preloader>
    <div class="preloader-circle"></div>
</div>

<header class="header" data-header>
    <div class="container">
        <a href="{{url_for('home')}}" class="logo">
            <img src="{{ url_for('static', filename='assets/favicon.png') }}" width="40" alt="OS home"/>
        </a>
        <nav class="navbar" data-navbar>
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a
                            href="{{url_for('home')}}"
                            class="label-lg navbar-link has-after"

                    >Home</a
                    >
                </li>
                <li class="navbar-item">
                    <a
                            href="{{url_for('services')}}"
                            class="label-lg navbar-link has-after"
                    >Services</a
                    >
                </li>
                <li class="navbar-item">
                    <a
                            href="{{url_for('portfolio')}}"
                            class="label-lg navbar-link has-after"
                    >Portfolio</a
                    >
                </li>
                <li class="navbar-item">
                    <a
                            href="{{url_for('experience')}}"
                            class="label-lg navbar-link has-after"
                    >Experience</a
                    >
                </li>
                <li class="navbar-item">
                    <a
                            href="{{url_for('contact')}}"
                            class="label-lg navbar-link has-after"
                    >Contact</a
                    >
                </li>
            </ul>
        </nav>

        <a href="{{url_for('contact')}}" class="btn btn-primary">Contact Now</a>

        <button class="nav-toggle-btn" aria-label="menu" data-nav-toggler>
            <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
        </button>
    </div>
</header>

<main>
    <article>
        <section class="section has-before" aria-label="home">
            <div class="container-login">
                <div class="container">
                    <h1>Input required slides and URLs</h1>
                    <form onsubmit="return false;" class="login-form">
                        <label for="numberOfInputs">Number of URL Inputs:</label>
                        <input type="number" id="numberOfInputs" name="numberOfInputs" class="input-field">
                        <button type="button" onclick="generateUrlInputs()" class="btn btn-primary">Generate</button>
                    </form>
                    <form action="/save" method="post" id="urlForm" class="login-form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div id="urlInputsContainer"></div>
                    </form>
                    <div class="container">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="alert" role="alert">
                            {% for message in messages %}
                            <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </section>
    </article>
</main>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <ul class="social-list">
            <li class="none">
                <a href="#" class="social-link">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/omar-shemy/" class="social-link">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </li>
            <li>
                <a href="https://the-blog-rouge.vercel.app" class="social-link">
                    <ion-icon name="globe"></ion-icon>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/__shemy" class="social-link">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
            </li>
            <li class="none">
                <a href="#" class="social-link">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </li>
            <li class="none">
                <a href="#" class="social-link">
                    <ion-icon name="logo-pinterest"></ion-icon>
                </a>
            </li>
        </ul>
        <p class="text-center">&copy; 2024 copyright all right reserved</p>
    </div>
</footer>

<!-- custom js -->
<script src="{{url_for('static', filename='js/scripts.js')}}"></script>


</body>
</html>