<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>OS | Portfolio</title>

    <!-- favicon -->

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.png') }}"/>


    <!-- google font -->

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin=""/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap"
    />

    <!-- custom css -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/require.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/portfolio.css') }}"/>

</head>
<body>
<!-- Preloader -->

<div class="preloader" data-preloader>
    <div class="preloader-circle"></div>
</div>

<!-- Header -->

<header class="header" data-header>
    <div class="container">
        <a href="{{url_for('home')}}" class="logo">
            <img src="{{url_for('static', filename='assets/favicon.png')}}" width="40" alt="OS home"/>
        </a>
        <nav class="navbar" data-navbar>
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a
                            href="{{url_for('home')}}"
                            class="label-lg navbar-link has-after"
                    >Home</a
                    >
                </li>
                <li class="navbar-item">
                    <a
                            href="{{url_for('services')}}"
                            class="label-lg navbar-link has-after"
                    >Services</a
                    >
                </li>
                <li class="navbar-item">
                    <a
                            href="#"
                            class="label-lg navbar-link has-after active"
                    >Portfolio</a
                    >
                </li>
                <li class="navbar-item">
                    <a
                            href="{{url_for('experience')}}"
                            class="label-lg navbar-link has-after"
                    >Experience</a
                    >
                </li>
                <li class="navbar-item">
                    <a
                            href="{{url_for('contact')}}"
                            class="label-lg navbar-link has-after"
                    >Contact</a
                    >
                </li>
            </ul>
        </nav>

        <a href="{{url_for('contact')}}" class="btn btn-primary">Contact Now</a>

        <button class="nav-toggle-btn" aria-label="menu" data-nav-toggler>
            <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
        </button>
    </div>
</header>

<main>
    <article>
        <section class="section portfolio" aria-labelledby="portfolio-label">
            <div class="container">
                <h2
                        class="section-title headline-md text-center"
                        id="portfolio-label"
                >
                    Portfolio
                </h2>
                <ul class="portfolio-list">
                    <li>
                        <div class="portfolio-card">
                            <div
                                    class="card-banner img-holder"
                                    style="--width: ; --height: "
                            >
                                <img
                                        src="{{url_for('static', filename='assets/images/1.jpeg')}}"
                                        width="800"
                                        height="540"
                                        loading="lazy"
                                        class="img-cover"
                                />
                            </div>
                            <div class="card-content">
                                <span class="chip label-md">Structural Analysis</span>
                                <h3 class="title-md">
                                    Demonstration of Various Structural Analyses
                                </h3>
                                <p class="card-text">
                                    Proficient in conducting comprehensive structural analyses using advanced software
                                    tools to ensure the integrity and safety of diverse construction projects. All
                                    analyses are carried out to meet the requirements of the NBCC (National Building
                                    Code of Canada) Part 4 Structural Design, the respective provincial and
                                    appropriate material standards.
                                </p>

                                <a href="{{url_for('sa')}}" class="btn btn-primary">View Projects</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="portfolio-card">
                            <div
                                    class="card-banner img-holder"
                                    style="--width: ; --height: "
                            >
                                <img
                                        src="{{url_for('static', filename='assets/images/2.png')}}"
                                        width="800"
                                        height="540"
                                        loading="lazy"
                                        class="img-cover"
                                />
                            </div>
                            <div class="card-content">
                                <span class="chip label-md">Component Analysis</span>
                                <h3 class="title-md">
                                    Individual Member & Component Analysis
                                </h3>
                                <p class="card-text">
                                    Through my professional and academic experience, I have developed an excellent
                                    ability to model, test, analyze, and design individual components using a range of
                                    tools, including experimental modeling techniques and nonlinear finite element
                                    methods. It is crucial to emphasize the importance of the analysis and design of
                                    individual members, components, or concepts. Focusing on specific local elements
                                    allows for a deeper understanding of their behavior under unusual loads, such as
                                    torsional stresses or repetitive loading conditions.
                                </p>

                                <a href="{{url_for('ca')}}" class="btn btn-primary">View components</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="portfolio-card">
                            <div
                                    class="card-banner img-holder"
                                    style="--width: ; --height: "
                            >
                                <img
                                        src="{{url_for('static', filename='assets/images/3.png')}}"
                                        width="800"
                                        height="540"
                                        loading="lazy"
                                        class="img-cover"
                                />
                            </div>
                            <div class="card-content">
                                <span class="chip label-md">Engineering Markups</span>
                                <h3 class="title-md">
                                    Engineering Drawing
                                </h3>
                                <p class="card-text">
                                    Demonstrated expertise in producing detailed engineering markups and annotations for
                                    structural and construction drawings. Skilled in communicating design
                                    modifications and technical specifications effectively to interdisciplinary teams,
                                    ensuring seamless collaboration and accurate implementation in construction
                                    projects.
                                </p>

                                <a href="{{url_for('ed')}}" class="btn btn-primary">View drawings</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="portfolio-card">
                            <div
                                    class="card-banner img-holder"
                                    style="--width: ; --height: "
                            >
                                <img
                                        src="{{url_for('static', filename='assets/images/4.jpeg')}}"
                                        width="800"
                                        height="540"
                                        loading="lazy"
                                        class="img-cover"
                                />
                            </div>
                            <div class="card-content">
                                <span class="chip label-md">Engineering Calculations</span>
                                <h3 class="title-md">
                                    Engineering Design
                                </h3>
                                <p class="card-text">
                                    I have attained mastery in engineering tools and calculations, employing advanced
                                    software, mathematical modeling, and first principles to optimize designs, and
                                    assess performance. Through meticulous analysis, innovative problem-solving, and
                                    adherence
                                    to national and provincial standards, I create efficient and sustainable designs
                                    that meet client requirements.
                                </p>

                                <a href="{{url_for('ec')}}" class="btn btn-primary">View calculations</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="portfolio-card">
                            <div
                                    class="card-banner img-holder"
                                    style="--width: ; --height: "
                            >
                                <img
                                        src="{{url_for('static', filename='assets/images/6.jpg')}}"
                                        width="800"
                                        height="540"
                                        loading="lazy"
                                        class="img-cover"
                                />
                            </div>
                            <div class="card-content">
                                <span class="chip label-md">Engineering Writing</span>
                                <h3 class="title-md">
                                    Structural Engineering Reports
                                </h3>
                                <p class="card-text">
                                    Structural reports play a crucial role in the communication and documentation of
                                    engineering projects. I have mastered writing structural reports, in particular,
                                    that focus on detailing the
                                    structural analysis, design calculations, load assessments, and safety
                                    considerations. These reports serve as valuable tools for project stakeholders,
                                    regulatory bodies, and construction
                                    teams.
                                </p>

                                <a href="{{url_for('er')}}" class="btn btn-primary">View reports</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="portfolio-card">
                            <div
                                    class="card-banner img-holder"
                                    style="--width: ; --height: "
                            >
                                <img
                                        src="{{url_for('static', filename='assets/images/5.jpg')}}"
                                        width="800"
                                        height="540"
                                        loading="lazy"
                                        class="img-cover"
                                />
                            </div>
                            <div class="card-content">
                                <span class="chip label-md">Structural Observations</span>
                                <h3 class="title-md">
                                    Real Life Observations
                                </h3>
                                <p class="card-text">
                                    It has become a habit of mine to observe and study structures whenever I see one,
                                    from old bridges to roof beams and construction sites. As a keen structural
                                    engineer,
                                    I try to think about their behavior and challenge myself to think about their
                                    structural design.
                                </p>

                                <a href="{{url_for('eo')}}" class="btn btn-primary">View observations</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="portfolio-card">
                            <div
                                    class="card-banner img-holder"
                                    style="--width: ; --height: "
                            >
                                <img
                                        src="{{url_for('static', filename='assets/images/7.jpg')}}"
                                        width="800"
                                        height="540"
                                        loading="lazy"
                                        class="img-cover"
                                />
                            </div>
                            <div class="card-content">
                                <span class="chip label-md">Tech Projects</span>
                                <h3 class="title-md">
                                    Demonstrations of Tech Applications
                                </h3>
                                <p class="card-text">
                                    I am adept at leveraging technology, having developed numerous web applications
                                    encompassing both front-end and back-end components. This includes the portfolio
                                    website you are currently viewing, my <a class="not-tag"
                                                                             href="https://the-blog-rouge.vercel.app">blog</a>,
                                    and a variety of calculators designed
                                    for different purposes like this beam <a class="not-tag"
                                                                             href="https://beam-calculator-vercel.vercel.app">calculator</a>
                                    and countless calculators like these, <a class="not-tag"
                                                                            href="https://ltb-moment-calc.vercel.app">LTB
                                    moment, </a>
                                    <a class="not-tag"
                                       href="https://weld-connection-calc.vercel.app">weld connection, </a>
                                    <a class="not-tag"
                                       href="https://web-stiffener-calc.vercel.app">web stiffener, </a>
                                    <a class="not-tag"
                                       href="https://column-axial-compression-calc.vercel.app">column</a> axial
                                    compression.
                                    .
                                </p>

                                <!--                                <a href="{{url_for('eo')}}" class="btn btn-primary">View observations</a>-->
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </article>
</main>

<!-- Footer -->

<footer class="footer">
    <div class="container">
        <ul class="social-list">
            <li class="none">
                <a href="#" class="social-link">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/omar-shemy/" class="social-link">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </li>
            <li>
                <a href="https://the-blog-rouge.vercel.app" class="social-link">
                    <ion-icon name="globe"></ion-icon>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/__shemy" class="social-link">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
            </li>
            <li class="none">
                <a href="#" class="social-link">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </li>
            <li class="none">
                <a href="#" class="social-link">
                    <ion-icon name="logo-pinterest"></ion-icon>
                </a>
            </li>
        </ul>
        <p class="text-center">&copy; 2024 copyright all right reserved</p>
    </div>
</footer>

<!-- custom js -->
<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
<script
        type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
        nomodule
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
</body>
</html>
