<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>OS | Portfolio | SA</title>

    <!-- favicon -->

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.png') }}"/>


    <!-- google font -->

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin=""/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap"
    />

    <!-- custom css -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/require.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/portfolio.css') }}"/>

</head>
<body>
<!-- Preloader -->

<div class="preloader" data-preloader>
    <div class="preloader-circle"></div>
</div>

<!-- Header -->

{{ get_header('Portfolio', 'SA') | safe }}

<main>
    <article>
        <section class="section portfolio" aria-labelledby="portfolio-label">
            <div class="container">
                <h2
                        class="section-title headline-md text-center"
                        id="portfolio-label"
                >
                    Structural Analysis
                </h2>
                <ul class="not-portfolio-list">
                    <li>
                        <div class="portfolio-card">
                            <span class="chip label-md"><a class="not-tag admin"
                                                           href="{{url_for('slides.admin_slide', num=8, d='nd', t='Notre Dame')}}">4-storey reinforced concrete apartment building</a></span>
                        </div>
                        <div class="portfolio-card">

                            <div
                                    class="card-banner img-holder"
                                    style="--width: ; --height: "
                            >
                                <img
                                        src="{{url_for('static', filename='assets/images/sa/p1-1.png')}}"
                                        width="800"
                                        height="540"
                                        loading="lazy"
                                        class="img-cover"
                                />
                            </div>
                            <div
                                    class="card-banner img-holder"
                                    style="--width: ; --height: "
                            >
                                <img
                                        src="{{url_for('static', filename='assets/images/sa/p1-2.png')}}"
                                        width="800"
                                        height="540"
                                        loading="lazy"
                                        class="img-cover"
                                />
                            </div>
                            <div class="card-content">
                                <h3 class="title-md">
                                    What?
                                </h3>
                                <ul class="card-text bullet">
                                    <li>
                                        Design and provide calculation packs on
                                        the main gravity members, slab reinforcing steel & seismic force resisting
                                        system
                                    </li>
                                    <li>
                                        Provide detailed mark-ups of designs for drafting team
                                    </li>
                                </ul>
                            </div>
                            <div class="card-content">
                                <h3 class="title-md">
                                    How?
                                </h3>
                                <ul class="card-text bullet">
                                    <li>
                                        Derived loads from hand calculation and used Excel to
                                        create critical load case combination table
                                    </li>
                                    <li>
                                        Designed beams, columns, and flat plates using hand calculations, spColumn and
                                        spSlab
                                    </li>
                                    <li>
                                        Performed a linear dynamic analysis using ETABS in accordance with NBCC-2015
                                        to
                                        obtain lateral seismic forces and
                                        designed the shear walls in S-CONCRETE, as moderately ductile according to
                                        A23.3-14
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="portfolio-card">
                            <span class="chip label-md"><a class="not-tag admin"
                                                           href="{{url_for('slides.admin_slide', num=8, d='rb', t='Structural Parking Garage Slab')}}">Demolition and Reconstruction of a Parking Garage Slab</a></span>
                        </div>
                        <div class="portfolio-card">

                            <div
                                    class="card-banner img-holder"
                                    style="--width: ; --height: "
                            >
                                <img
                                        src="{{url_for('static', filename='assets/images/sa/p2-1.png')}}"
                                        width="800"
                                        height="540"
                                        loading="lazy"
                                        class="img-cover"
                                />
                            </div>
                            <div
                                    class="card-banner img-holder"
                                    style="--width: ; --height: "
                            >
                                <img
                                        src="{{url_for('static', filename='assets/images/sa/p2-2.png')}}"
                                        width="800"
                                        height="540"
                                        loading="lazy"
                                        class="img-cover"
                                />
                            </div>
                            <div class="card-content">
                                <h3 class="title-md">
                                    What?
                                </h3>
                                <ul class="card-text bullet">
                                    <li>
                                        Complete demolition and reconstruction of the parking garage structural slab
                                    </li>
                                    <li>
                                        Analyse the new reinforced concrete slab and design of the reinforcing steel
                                    </li>
                                </ul>
                            </div>
                            <div class="card-content">
                                <h3 class="title-md">
                                    How?
                                </h3>
                                <ul class="card-text bullet">
                                    <li>
                                        Specified the structural sections and details for temporary column supports
                                        during demolition
                                    </li>
                                    <li>
                                        Conducting analysis using spSlab and SAFE and designing the reinforcing steel
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="portfolio-card">
                            <span class="chip label-md">Structural Steel Frame Vertical Addition</span>
                        </div>
                        <div class="portfolio-card">

                            <div
                                    class="card-banner img-holder"
                                    style="--width: ; --height: "
                            >
                                <img
                                        src="{{url_for('static', filename='assets/images/sa/p4-1.png')}}"
                                        width="800"
                                        height="540"
                                        loading="lazy"
                                        class="img-cover"
                                />
                            </div>
                            <div
                                    class="card-banner img-holder"
                                    style="--width: ; --height: "
                            >
                                <img
                                        src="{{url_for('static', filename='assets/images/sa/p4-2.png')}}"
                                        width="800"
                                        height="540"
                                        loading="lazy"
                                        class="img-cover"
                                />
                            </div>
                            <div class="card-content">
                                <h3 class="title-md">
                                    What?
                                </h3>
                                <ul class="card-text bullet">
                                    <li>
                                        The new steel frame to wrap around the existing building at the
                                        second floor before continuing above it
                                    </li>
                                    <li>
                                        Analysis and design of all structural steel columns, beams, joists, cold formed
                                        decks, diaphragms and moment frames
                                    </li>
                                    <li>
                                        Coordinated the structure with the intricate architectural layout
                                    </li>
                                </ul>
                            </div>
                            <div class="card-content">
                                <h3 class="title-md">
                                    How?
                                </h3>
                                <ul class="card-text bullet">
                                    <li>
                                        Participated in coordination meetings with a team of architects, structural
                                        engineers, mechanical engineers and general
                                        contractors to realize client requirements while ensuring structural feasibility
                                    </li>
                                    <li>
                                        Used ETABS to design gravity members & seismic moment frames according to S16-14
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="portfolio-card">
                            <span class="chip label-md">Structural Steel Aircraft Hangar</span>
                        </div>
                        <div class="portfolio-card">

                            <div
                                    class="card-banner img-holder"
                                    style="--width: ; --height: "
                            >
                                <img
                                        src="{{url_for('static', filename='assets/images/sa/p5-1.png')}}"
                                        width="800"
                                        height="540"
                                        loading="lazy"
                                        class="img-cover"
                                />
                            </div>
                            <div
                                    class="card-banner img-holder"
                                    style="--width: ; --height: "
                            >
                                <img
                                        src="{{url_for('static', filename='assets/images/sa/p5-2.png')}}"
                                        width="800"
                                        height="540"
                                        loading="lazy"
                                        class="img-cover"
                                />
                            </div>
                            <div class="card-content">
                                <h3 class="title-md">
                                    What?
                                </h3>
                                <ul class="card-text bullet">
                                    <li>
                                        Analysis and design of all structural steel columns, beams, box trusses, cold
                                        formed
                                        decks, diaphragm and concentric cross-braced frames
                                    </li>
                                    <li>
                                        Meticulous design accounted for torsion caused by the eccentricity
                                        between the center of mass and center of rigidity. The offset was due to the
                                        absence of bracing bents on the mega-door side of the structure
                                    </li>
                                </ul>
                            </div>
                            <div class="card-content">
                                <h3 class="title-md">
                                    How?
                                </h3>
                                <ul class="card-text bullet">
                                    <li>
                                        Derived loads from hand calculation and used Excel to iterate for the center of
                                        rigidity and to transfer the torsional moment to the three remaining
                                        cross-braced
                                        sides of the structure
                                    </li>
                                    <li>
                                        Utilized a SAP2000 3D model to design wind columns, box trusses and verify the
                                        chosen lateral sections from hand calculation
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="portfolio-card">
                            <span class="chip label-md">Portal Frame Building With Overhead Crane</span>
                        </div>
                        <div class="portfolio-card">

                            <div
                                    class="card-banner img-holder"
                                    style="--width: ; --height: "
                            >
                                <img
                                        src="{{url_for('static', filename='assets/images/sa/p3-1.png')}}"
                                        width="800"
                                        height="540"
                                        loading="lazy"
                                        class="img-cover"
                                />
                            </div>
                            <div
                                    class="card-banner img-holder"
                                    style="--width: ; --height: "
                            >
                                <img
                                        src="{{url_for('static', filename='assets/images/sa/p3-2.png')}}"
                                        width="800"
                                        height="540"
                                        loading="lazy"
                                        class="img-cover"
                                />
                            </div>
                            <div class="card-content">
                                <h3 class="title-md">
                                    What?
                                </h3>
                                <ul class="card-text bullet">
                                    <li>
                                        Design and provide calculation on the main portal
                                        frame members, purlins and bracing
                                    </li>
                                    <li>
                                        Provide detailed markups of designs for drafting team
                                    </li>
                                </ul>
                            </div>
                            <div class="card-content">
                                <h3 class="title-md">
                                    How?
                                </h3>
                                <ul class="card-text bullet">
                                    <li>
                                        Used SAP2000 to output design actions
                                    </li>
                                    <li>
                                        Documented design iteration process in Bluebeam
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </article>
</main>

<!-- Footer -->

{{ render_footer() | safe }}

<!-- custom js -->
<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
<script src="{{url_for('static', filename='js/scripts-admin.js')}}"></script>
<script
        type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
        nomodule
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
</body>
</html>
