<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>OS | {{title}}</title>

    <!-- favicon -->

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.png') }}"/>


    <!-- google font -->

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin=""/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />

    <!-- custom css -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/require.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/portfolio.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/admin.css') }}"/>

</head>
<body>

<!-- Preloader -->

<div class="preloader" data-preloader>
    <div class="preloader-circle"></div>
</div>

<!-- Header -->

{{ get_header('Admin', title) | safe}}

<main>
    <article>
        <section class="section portfolio" aria-labelledby="portfolio-label">
            <h2
                    class="section-title headline-sm text-center"
                    id="portfolio-label"
            >
                Registered {{title}}
            </h2>
            <div class="container">
                <div>
                    <ul>
                        {% for user in users %}
                        <li> {{user.username}} - <a class="not-tag"
                                                    href="{{url_for('users.delete_user', user_id=user._id)}}">x</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <ul style="padding: 5%;, margin:5%;">
                        {% for slide in slides %}
                        <li>
                            {{slide.name}} - {{slide.title}}
                            <br>
                            <ol>
                                {% for url in slide.urls %}
                                {{url}}
                                {% endfor %}
                            </ol>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert {% if category == 'error' %} alert-danger {% elif category == 'success' %} alert-success {% endif %}"
                     role="alert">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </section>
    </article>
</main>

<!-- Footer -->

{{ render_footer() | safe }}

<!-- custom js -->
<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
<script src="{{url_for('static', filename='js/scripts-se.js')}}"></script>
<script
        type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
        nomodule
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
</body>
</html>
